
.collapse {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    .collapse-header {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        width: 100%;
        padding: 10px 20px;
        background-color: #FF6060;        
        z-index: 1;
        border-radius: 5px;
        box-sizing: border-box;
       

        h3 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            color: #FFFFFF;
        }

        img {
            width: 15px;
            height: 10px;
            cursor: pointer;
        }

        .arrow {
            transform: rotate(180deg);
        }

        .arrow.open {
            animation: arrowOpen 0.4s ease forwards;
        }

        .arrow.closed {
            animation: arrowClose 0.2s ease forwards;
        }
    }

    .collapse-content {
        width: 100%;
        padding: 10px 20px;
        background-color: #F6F6F6;
        margin-top: -2px;
        font-size: 16px;
        z-index: 0;
        overflow: hidden;
        font-size: 18px;
        box-sizing: border-box;
    }

    .collapse-content.closed-initial {
        height: 0;
        padding: 0 20px;
        opacity: 0;
    }

    .collapse-content.visible {
        animation: collapseOpen 0.4s ease forwards;
    }

    .collapse-content.hidden {
        animation: collapseClose 0.2s ease forwards;
    }
}


@keyframes arrowOpen {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes arrowClose {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes collapseOpen {
    from {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        max-height: 500px; 
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes collapseClose {
    from {
        max-height: 500px;
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 1;
        transform: translateY(0);
    }
    to {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
        transform: translateY(-40px);
    }
}
 